<html>
    <head>
        {% block meta %} 
        <meta charset="UTF-8" />
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('Resources/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
                <script src=" {{ asset('Resources/bootstrap/assets/jquery/jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
